@model Views.ViewModels.AddMunicipalitiesViewModel
@{
    bool flag = false;
}
<div class="modal fade" id="addMunicipalityModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="onCloseEditModal();">&times;</button>
                <h4>Agregar municipios a la región @Html.Raw(Model.Region)</h4>
            </div>
            @using (Html.BeginForm("AddMunicipalities", "Region", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Region)
                    @Html.HiddenFor(model => model.RegionId)
                    @if (Model.Municipalities.Count() > 0)
                    {
                        int counter = 0;
                        foreach(var item in Model.Municipalities) {
                            var value = Model.Municipalities[counter].Id;
                            var text = Model.Municipalities[counter].Name;
                            @Html.CheckBoxFor(model => model.Municipalities[counter].IsSelected, htmlAttributes: new { @id = value})
                            <label class="control-label tblHeader" for="@value">@Html.Raw(text)</label>
                            @Html.HiddenFor(model => model.Municipalities[counter].Id)
                            counter = counter + 1;
                        }
                    }
                    else
                    {
                        flag = true;
                        <h4><i>@Html.Raw("No existen municipios disponibles para agregar")</i></h4>
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btnStyle" @if(flag){ @Html.Raw("style='display: none;'")}> Agregar</button>
                    <button type="button" class="btn btnClose" data-dismiss="modal" onclick="onCloseEditModal();">Close</button>
                </div>
            }
        </div>
    </div>
</div>