@model Views.ViewModels.EditRegionViewModel
@{
    ViewBag.Title = "EditRegion";
}
<div class="container">
    <div class="row ppalDiv">
        @Html.ActionLink("< Regresar", "Index")
        @Html.Hidden("toDeleteMunicipality", null, htmlAttributes: new { @id = "toDeleteMunicipality" })
        <h2>Editando región @Html.Raw(Model.Region.Name)</h2>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            @using (Html.BeginForm("EditRegion", "Region", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Region.Id);
                <input hidden type="text" name="Region.OriginalName" value="@Model.OriginalName">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Region.Code, htmlAttributes: new { @class = "control-label col-md-2 tblHeader" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Region.Code, new { htmlAttributes = new { @class = "form-control", @id = "inpCode" } })
                            @Html.ValidationMessageFor(model => model.Region.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Region.Name, htmlAttributes: new { @class = "control-label col-md-2 tblHeader" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Region.Name, new { htmlAttributes = new { @class = "form-control", @id = "inpName" } })
                            @Html.ValidationMessageFor(model => model.Region.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btnStyle">Editar</button>
                </div>
            }
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row commonMargin">
        @if (Model.Municipalities.Count() > 0)
        {
            <h4><i>@Html.Raw("Municipios asociados")</i></h4>
        }
        else
        {
            <h4><i>@Html.Raw("Esta región no tiene municipios asociados")</i></h4>
        }
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            @if (Model.Municipalities.Count() > 0)
            {
                <table class="table table-hover commonMargin">
                    <tr class="tblHeader">
                        <th>@Html.Raw("Código")</th>
                        <th>@Html.Raw("Nombre")</th>
                        <th></th>
                    </tr>
                    @foreach (var mun in Model.Municipalities)
                    {
                        <tr>
                            <td>@Html.Raw(mun.Code.ToString())</td>
                            <td>@Html.Raw(mun.Name)</td>
                            <td>
                                <a class="editLink" href="@Url.Action("EditMunicipality", new { id = mun.Id.ToString() })"><span class="iconPointer glyphicon glyphicon-edit" title="Editar"></span></a>
                                <a class="deleteLink" href="#" onclick="onDeleteRegMunBtn('@Model.Region.Name','@mun.Id', '@mun.Name');"><span class="iconPointer glyphicon glyphicon-trash" title="Eliminar"></span></a>
                            </td>
                        </tr>
                    }
                </table>
                <button type="button" class="btn btnStyle" onclick="onAddMunicipality('@Model.Region.Id', '@Model.Region.Name');">Agregar municipio</button>
            }
            else
            {
                <button type="button" class="btn btnStyle" onclick="onAddMunicipality('@Model.Region.Id', '@Model.Region.Name');">Agregar municipio</button>
            }
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

@*Municipality Delete Modal*@
<div class="modal fade" id="deleteRegMunModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="onCloseDeleteModal();">&times;</button>
                <h4>Retirar municipio</h4>
            </div>
            <div class="form-horizontal">
                <div class="modal-body">
                    <p id="msgDeleteRegMun"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnStyle" onclick="onConfirmRegMunDelete('@Model.Region.Id');">Eliminar</button>
                    <button type="button" class="btn btnClose" data-dismiss="modal" onclick="onCloseDeleteRegMunModal();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addMunicipalitiesContainer"></div>


<label id="addMunicipalities" class="hidden">@Url.Action("AddMunicipalities")</label>
<label id="deleteRegMun" class="hidden">@Url.Action("DeleteRegionMunicipality")</label>
<script type="text/javascript" src="~/Scripts/Places/Region.js"></script>